deployment/nginx/frontend/admin/*/
deployment/nginx/frontend/admin/favicon.ico
deployment/nginx/frontend/admin/index.html

deployment/nginx/frontend/blog/*/
deployment/nginx/frontend/blog/favicon.ico
deployment/nginx/frontend/blog/index.html


deployment/nginx/cert/*.key
deployment/nginx/cert/*.pem
deployment/nginx/nginx-backup.*

vendor
.vscode
.idea
cmd/*.debug
static

config-backup.toml
config-dev.toml
.DS_Store

/common/tools/*.txt